html{
	height:100%;
}

.container {
	min-height:100%;
	position:relative;
}

.header {
	color: white;
	font-size: 200%;
	font-weight: bold;
	height: 100px;
	text-align: left;
	margin: auto;
	padding-left: $inuit-padding;
	background-color: #0d83aa;
	line-height: 100px;
}

.header_img {
	float: right;
	width: 200px;
	height: 75px;
	margin-top: $inuit-margin--small;
	margin-right: $inuit-margin;
}

.footer {
	color: white;
	font-size: 75%;
	font-weight: bold;
	height: 60px;
	text-align: center;
	text-decoration: underline;
	background-color: #0d83aa;
	padding: $inuit-padding;
	position: absolute;
	width: 100%;
	bottom: 0;

}

.questions {
	margin: auto;
	margin-top: $inuit-margin;
	margin-bottom: $inuit-margin;
	padding: 0 150px;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	overflow-y: scroll;
	height: 600px;
	max-width: 800px;

	p{
		border-top	: dashed;
		border-width: 2px;
		padding: $inuit-padding;
		padding-bottom: 0px;
	}
	h1{
		text-align: center;
	}
}

.form {
	margin: 0 $inuit-margin--large $inuit-margin;
	//padding: $inuit-padding;
	text-align: center;
	font-weight: bold;
	font-size: 100%;

	input[type=submit] {
		padding:5px 15px; 
		background:#ccc; 
		border:0 none;
		cursor:pointer;
		-webkit-border-radius: 5px;
		border-radius: 5px; 
	}
}

.results {
		overflow-y: scroll;
		margin-bottom: $inuit-margin;
		margin: auto;
		padding: 0 150px;
		text-align: center;
		font-weight: bold;
		font-size: 100%;
		max-width: 800px;
		height: 700px;
	p{
		padding: $inuit-padding;
		padding-bottom: 0px;

	}
	h1{
		text-align: center;
	}

	h3{
		padding: $inuit-padding;
		padding-bottom: 0px;
		border-top	: dashed;
		border-width: 2px;
	}
}

.gradient {
	background: radial-gradient(#e6e6e6 20%, #d9e6f2 30%, #cce6ff 50%);
	background-attachment: fixed;

}

.radio_btn {
	margin: $inuit-margin;
	border-style: solid;
}

.buttons {
	padding-top: $inuit-padding;
	text-align: center;
	font-weight: bold;

	button[type=button]{
		padding:5px 15px; 
		background:#ccc; 
		border:0 none;
		cursor:pointer;
		-webkit-border-radius: 5px;
		border-radius: 5px; 
		float: middle;
	}
}