.header {
	color: white;
	font-size: 200%;
	font-weight: bold;
	height: 100px;
	text-align: left;
	margin: auto;
	padding-left: $inuit-padding;
	background-color: grey;
	line-height: 100px;
}

.header_img {
    float: right;
  	width: 200px;
  	height: 75px;
    margin-top: $inuit-margin--small;
  	margin-right: $inuit-margin;
  }


.questions {
	margin: 0 auto;
	padding: $inuit-padding;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	overflow-y: scroll;
	height: 600px;
	max-width: 800px;

	p{
		border-top	: solid;
		border-width: 2px;
		padding: $inuit-padding;
		padding-bottom: 0px;

	}
}

.form {
	margin: $inuit-margin;
	padding: $inuit-padding;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	input[type=submit] {
	    padding:5px 15px; 
	    background:#ccc; 
	    border:0 none;
	    cursor:pointer;
	    -webkit-border-radius: 5px;
	    border-radius: 5px; 
	}
}

.results {
	margin: auto;
	padding: $inuit-padding;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	max-width: 800px;

	p{
		padding: $inuit-padding;
		padding-bottom: 0px;

	}
	h1{
		text-align: center;
	}
	h3{
		padding: $inuit-padding;
		border-top	: solid;
		border-width: 2px;
	}
}

.gradient {
	background: radial-gradient(#e6e6e6 20%, #d9e6f2 30%, #cce6ff 50%);
}


.radio_btn {
	margin: $inuit-margin;
	border-style: solid;
}

.my-new-list {
	text-align: center;

}